body {
  width: 80%;
  margin: auto;
}
#Information {
  text-align: center;
}
a {
  text-decoration: none;
  color: blue;
}

.sections {
  text-align: left;
  position: relative;
}
.sections::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 50%;
  right: 0%;
  z-index: -1;
}
span {
  background-color: white;
}
.job-title {
  display: flex;
  justify-content: space-between;
}
.job-title h4 {
  margin-top: 0;
}
.education-title {
  display: flex;
  justify-content: space-between;
}
.education-title h4 {
  margin: 0;
}
.job ul {
  margin-top: 0px;
}
.job ul li a {
  color: blue;
}
